{% extends 'page.html' %}

{% block content %}
    <h1 class="text-center">Alterar informações</h1>
    <br>
    <form enctype="multipart/form-data" action="submit/", method="POST">{% csrf_token %}
        <div class="container">
            <input type="number" class="form-control" name="Usuario.id_usuario" value="{{ usuario.id_usuario }}" hidden>
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" name="name" value="{{ usuario.name }}">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email"min=0 step="0.01" class="form-control" name="email" value="{{ usuario.email }}">
            </div>
            <button type="submit/" class="btn btn-success"> <span class="material-icons">done_all</span>Salvar</button>
        </div>
      </form>
      <br>
{% endblock %}