{% extends 'page.html' %}

{% block content %}
    <h1 class="text-center">Cadastre-se</h1>
    <br>
    <form enctype="multipart/form-data" action="/cadastro/submit/", method="POST">{% csrf_token %}
        <div class="container">

            <div class="form-group">
                <label>Username:</label>
                {{ form.username }}
            </div>  
            
            <div class="form-group">
                <label>Senha:</label>
                {{ form.password }}
            </div>

            <button type="submit/" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
      <br>
{% endblock %}