{% extends 'page.html' %}

{% block content %}
    <h1 class="text-center">Cadastre-se</h1>
    <br>
    <form enctype="multipart/form-data" action="/cadastro/", method="POST">{% csrf_token %}
        <div class="container">
            <div class="form-group">
                <label>Primeiro nome:</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
                
            </div>

            <div class="form-group">
                <label>Sobrenome</label>
                {{ form.last_name }}
            </div>

            <div class="form-group">
                <label>Nome de usuario</label>
                {{ form.username }}
            </div>  

            <div class="form-group">
                <label>E-mail:</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label>Senha:</label>
                {{ form.password }}
            </div>
            
            <div class="form-group">
                <label>Super User:</label>
                {{ form.is_superuser }}
            </div>

            <div class="form-group">
                <label>Efetivo:</label>
                {{ form.is_staff }}
            </div>

            <button type="submit/" class="btn btn-primary">Salvar</button>
        </div>
      </form>
      <br>
{% endblock %}