<!DOCTYPE html>

<style>
    .jumbotron.header{
        background-color: rgb(180, 98, 221); 
        color : white;
        background-image: linear-gradient(rgb(191, 107, 233),rgb(85, 26, 119));
    }

    #menu a {
        color: #FFF;
        background-color: #252525;
        text-decoration: none;
        border-bottom: transparent solid 1px;
        padding-bottom: 6px;
    }

    #menu a:hover {
        color: #FFF;
        background-color: rgb(85, 26, 119);
        border-bottom: #000000 solid 1px;
    }
</style>

<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class='jumbotron header text-center'>
            <h1>MARKET PLACE</h1>
        </div>
        
        <div class="text-right mr-4">
        </div>
        <h1 class="text-center">E-mail em uso!</h1>
            <div>
                <br>
                    <a href="/cadastro_cliente/" class="btn btn-dark btn-block">Tentar novamente</a>
                <br>
            </div>
        {% include 'footer.html' %}
    </body>
</html>