{% extends 'page.html' %}

{% block content %}
    <div class="container mt-3">
        <h1 class="text-center">Todos os produtos</h1>
        <form enctype="multipart/form-data" action="pesquisar/", method="POST">{% csrf_token %}
            <div class="container">
                <div class="form-group row">
                    <label style="margin-right: 10px;">Pesquisar produto:</label>
                    <input type="text" class="form-control col-5" style="margin-right:10px;" name="title" value="{{ Produtos.title }}">
                    <button type="submit/" class="btn btn-primary"><span class="material-icons" >search</span> Pesquisar</button>
                </div>
            </div>
        </form>

{% block style %}
    <style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
        div.container {
            padding: 10px;
        }
    </style>
{% endblock %}

    <div class="container">
            <div class="row">
                {% for p in Produtos %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="../produto/{{ p.id_produto }}">
                            <div class="polaroid">
                                <img src="{{ p.image.url }}" alt="Norway" style="width:100%">
                                <div class="container">
                                    <p>{{ p.title }}</p>
                                </div>
                            </div>
                        </a>
                        <br>
                    </div>                
                {% endfor %}
            </div>
        </div>  
    </div>  
{% endblock %}