{% extends 'page.html' %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center">Lista de clientes</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome:</th>
                <th scope="col">Visualizar:</th>
                
              </tr>
            </thead>
            <tbody>
                {% for c in Cliente %}
                <tr>
                    <td>{{ c.name }}</td> 
                    <td><a href="../perfil/{{ c.id_cliente }}"><span class="material-icons">visibility</span></a></td>
                </tr>
                {% endfor %}
                <a href="/cadastro_cliente/">
                  <button type="button" class="btn btn-primary"><span class="material-icons">add</span>Add cliente</button>
                </a>
            </tbody>
          </table>
    </div>  
    </div>  
{% endblock %}