{% extends 'page.html' %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center">Página de usuario</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome:</th>
                <th scope="col">Visualizar:</th>
                
              </tr>
            </thead>
            <tbody>
                {% for u in Usuario %}
                <tr>
                    <td>{{ u.first_name }}</td> 
                    <td><a href="../perfil/{{ u.id_usuario }}"><span class="material-icons">visibility</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>  
    </div>  
{% endblock %}